* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1{
  margin: 25px;
}

#todo_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px auto;
  width: 265px;
}


#tasks {
  width: 100%;
  list-style: none;
}
